
@font-face
{
  font-family: 'monocraft';
  src: url('/Monocraft.ttc') format('truetype-variations');
  font-weight: normal;
  font-style: normal;
}

body
{
  background-color: rgb(59, 1, 1); 
  color: white;
  font-family: monocraft;
}